.subtotal {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  flex: 0.33;
  min-width: 200px;

  padding: 10px;
}
.subtotal__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.subtotal h2,
h4 {
  margin: 0;
}
.subtotal__header h2 {
  font-size: 20px;
}
.subtotal__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.subtotal__checkbox input {
  margin-right: 7px;
}
.subtotal__checkbox h4 {
  font-size: 14px;
}
.subtotal__btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  background-color: #cd9042;
  border-radius: 5px;
  transition: ease-out 0.5s;
}
.subtotal__btn:hover {
  color: white;
}
